body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1d4350, #a43931);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #1d4350;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #16333c;
}

#imgBox {
    margin-top: 20px;
}

#imgBox img {
    width: 200px;
}
